<h1>Edit Vendor claim</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.vendor_claim_path(@conn, :update, @vendor_claim)) %>

<span><%= link "Back", to: Routes.vendor_claim_path(@conn, :index) %></span>
